<p>The pizza selected is:</p>

<p>First Name: <%= @pizza.first_name %></p>
<p>Last Name: <%= @pizza.last_name %></p>

<p>Pizza Topping: <%= @pizza.topping %></p>
<p>Quantity: <%= @pizza.quantity %></p>
<p>Total Cost: <%= @pizza.total %></p>